* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow: hidden;
}
h3, h2, h1, th, p{
    color: #1E1D3B;
}
thead th{
    position: sticky;
    top: 0;
    z-index: 1; 
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

.modal, .modals, .modal2{
    overflow: auto;
    height: auto;
}

.header {
    background: linear-gradient(180deg, #AEADD6 0%, #E5BAFF 100%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #1E1D3B;
    flex-wrap: wrap;
}

.main {
    background-color: #fff;
    overflow: hidden;
    flex-grow: 1;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    height: calc(100vh - 120px);   
}

.supervised-badge{
    background-color: #B2AED9;
    padding: 10px;
    margin-top: 5px;
    max-width: 200px;
    color: #3C3B52;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
}

td{
    height: 51px;
}
th{
    height: 35px;
}
.header-left {
    display: flex;
    align-items: center;
}

.header-left .logo {
    width: 100px;
    margin-right: 15px;
}

.header-left h1 {
    font-size: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header-right .profile {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.header-right .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: white 3px solid;
}


.header-right input {
    margin-right: 15px;
    padding: 5px 5px 5px 40px;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.header-right p {
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.Therapist-container {
    width: auto;
    height: calc(100vh - 60px); 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sidebarr {
    width: 100%;
    height: calc(100vh - 120px); 
    max-width: 300px;
    background-color: #fff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1.5px solid #000A67; 
    overflow: hidden; 
}

.close-sidebar{
    display: none;
}

.footer-links {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
}

.footer-links a{
    text-decoration: none;
    color: #1E1D3B;
    font-weight: bolder;
}

.filter-btn2{
    cursor: none;
}

.sidebarr ul img {
    width: 15%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #350658;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    padding: 15px 5px;
    border-radius: 0 15px 15px 0;
    margin: 0;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    gap: 3px;
    padding-left: 20px;
}

nav ul li a:hover {
    background: linear-gradient(180deg, #4F4A6E 0%, #AEADD6 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* padding-left: 40px; */
    color: white;
    svg path{
        stroke: #fff;
    }
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
}

nav ul li a.active {
    font-weight: bold;
    background: linear-gradient(180deg, #4F4A6E 0%, #AEADD6 100%);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 100%;
    /* padding-left: 30px; */
    svg path{
        stroke: #fff;
    }
}

.arrowd {
    width: 28px;
    stroke: #fff;
}

.prof_box{
    background-color: #4F4A6E;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 11px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 31px;
    top: 99px;
    width: 227px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-item {
    display: block;
    padding: 10px 15px;
    color: gray;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-item:hover {
    background: #CCCFE5;
    color: #1f0147;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item img{
    width: 24px;

}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8b8b8b;
}

td, th{
    text-align: center;
  vertical-align: middle;
}

td:nth-child(1), th:nth-child(1){
    text-align: left;
    vertical-align: middle;
    font-weight: 500;
}


/* transition */
.fade-in {
    animation: fadeIn 0.2s ease forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-out {
    animation: fadeOut 0.2s ease forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }