body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    overflow: hidden;
}

.container {
    display: flex;
    height: calc(100vh - 120px); 
    overflow: hidden auto;
    flex-wrap: wrap;
}

.inner{
    height: auto;
    padding: 20px;
}

.sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px 0 20px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1.5px solid #000A67; 
    overflow: hidden;
}
.sidebar ul img{
    width: 15%;
}

.complete-btn{
    background-color: #6b6b92;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 56px;
    width: 95.65px;
    height: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}
.complete-btn:hover, .view:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.content {
    height: 98vh;
    padding: 30px 50px;
    background-color: white;
    overflow-y: auto;
}

.inquiry-table, .inquiry-history-table {
    margin: 40px 0;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.content-header h1 {
    font-size: 36px;
    margin: 0;
    color: #4F4A6E;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    padding: 10px;
    background-color: #AEADD6;
}

tbody td {
    padding: 10px;
    margin-bottom: 20px;
}

tbody tr:hover {
    background-color: #dfdffc;
}

tr{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


input[type="checkbox"] {
    appearance: none; 
    -webkit-appearance: none; 
    width: 18px;
    height: 18px;
    border: 2px solid #AEADD6; 
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #7976dc; 
    border-color: #7976dc;
}

input[type="checkbox"]:checked::after {
    content: "✔"; 
    color: white; 
    font-size: 14px;
    position: absolute;
    left: 2px;
    top: -2px;
}

.favorite {
    cursor: pointer;
    font-size: 24px; 
    color: #d3d3d3;
    transition: color 0.3s;
}

.favorite.active {
    color: #FFD700;
}


/*filter*/

.filter-buttons {
    display: flex;
    gap: 10px;
}

.filter-btn, .dropdown-btn, .dropdown-btn2 {
    background-color: #CCCFE5;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-icon {
    font-size: 18px;
}

.head-cont{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.head-cont2{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


.dropdown-wrapper {
    position: relative;
}

.dropdown-btn {
    height: 43.33px;
    width: 170px; 
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-btn2 {
    width: 250px; 
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CCCFE5;
    border-radius: 12px;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 3;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #4F4A6E;
    color: #fff;
}

.dropdown-content.open {
    display: block;
}

.dropdown-btn::after, .dropdown-btn2::after {
    content: '▼';
    margin-left: 10px;
}

.dropdown-btn:hover, .dropdown-btn2:hover {
    background-color: #4F4A6E;
    color: #fff;
}

th:nth-child(2), th:nth-child(3), td:nth-child(2), td:nth-child(3){
    text-align: left;
}


.table-wrapper{
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

th {
    position: sticky;
    top: 0;
    background-color: #fff;
    background-color: #AEADD6;
    z-index: 1;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modal-content {
    display: block;
    background-color: white;
    margin: 15% auto;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.heads{
    width: 100%;
    background-color: #635c91;
    height: 15px;
    border-radius: 10px 10px 0 0;
}

.mod-cont{
    padding: 20px;
}


.top{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #afafaf;
    width: 100%;
    h2{
        margin: 0;
    }
}
.bot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    padding: 0 10px;
}
.inner{
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: relative;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    border-top: 1px solid #afafaf;
    padding-top: 20px;
    gap: 20px;
}

.confirm-btn {
    background-color: #6b6b92;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

.confirm-btn:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cancel-btn {
    color: #6b6b92;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
    border: #6b6b92 1px solid;
}
.cancel-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.view {
    background-color: #B1B1B1;
    color: #000;
    border-radius: 56px;
    width: 95.65px;
    height: 35px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;
    cursor: pointer;
}
